# Environment configuration
.env

# Air live-reloading config


# Temporary files or folders
temp/


# Node package manager files
package-lock.json
package.json
pnpm-lock.yaml
pnpm-workspace.yaml
yarn.lock

# Node modules
node_modules/

# Build output
dist/
